<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Zmanager | Accueil 🐵</title>
    <link rel ="stylesheet" href="/static/style_base.css">
</head>

<header class="entete-fixe">

    <a href="/profil"><img src="/media/users/{{ user.username }}.png" alt="Photo de profil" class="profile"></a>
    <img src="/media/logo.png" alt="Logo de votre zoo" class="logo-zoo">
    
    <div class="message-bienvenue">
        Bonjour {{ user.username }} ! |
        <a href="">Administration</a> |
        <a href="{% url 'logout' %}">Déconnexion</a> |
    </div>


    <div class="Animaux">
        <button onclick='location.href="/animaux"'>Animaux</button>
    </div>

    <div class="Visite">
        <button onclick='location.href="/visites"'>Visites</button>
    </div>

    <div class="Soigneur">
                <button onclick='location.href="/soigneurs"'>Soigneurs</button>
    </div>
</header>
{% for a in animals}
<body>
    <div class="info">
        <p>Nombre d'animaux : {len.animal}</p>
        <p>Nombre de jours sans accident : </p>
        <p>Cause du dernier accident : </p>
    </div>

</body>
</html>