<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Zmanager | Accueil 🐵</title>
    <link rel ="stylesheet" href="/static/style_base.css">
</head>

<header class="entete-fixe">

    <a href="/profil"><img src="/media/users/{{ user.first_name }}.png" alt="Photo de profil" class="profile"></a>
    <img src="/media/logo.png" alt="Logo de votre zoo" class="logo-zoo">
    
    <div class="message-bienvenue">
        Bonjour {{ user.first_name}} ! |
        <a href="{% url 'logout' %}">Déconnexion</a> |
    </div>


    <div class="Animaux">
        <button onclick='location.href="/animaux"'>Animaux</button>
    </div>

    <div class="Visite">
        <button onclick='location.href="/visites"'>Visites</button>
    </div>

    <div class="Soigneur">
                <button onclick='location.href="/soigneurs"'>Soigneurs</button>
    </div>
</header>

<body background="/media/tortue.jpg">
    <div class="info">
        <div class="animal_count">
            <p>Nombre d'animaux : {{ animal_count }}</p>
        </div>

        <div class="accident">
            {% for accident in accidents %}
            <p>Nombre de jours sans accident : {{accident.since.days}}</p>
        </div>

        <div class="accident_com">
            {{accident.Commentaire}} | {{accident.DateAccident}}</p>
        </div>
        {% endfor %}

    </div>

</body>

</html>
