.image-fond {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    pointer-events: none;
    margin: 0;
    padding: 0;
}


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    margin: 0;
    padding: 0;
}


.formulaire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a6041;
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    width: 350px;
    font-family: Arial, sans-serif;
}


.Tortue {
    width: 100%;
    display: block;
    margin: 0 auto 20px auto;
}


.formulaire input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
}


.formulaire button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3f8f61;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: 40px;
}

.formulaire label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}