.image-fond {
    position: fixed;
    top: 170px;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100% - 170px);
    object-fit: cover;
    object-position: center;
    z-index: -1;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.logo-zoo {
    position: fixed;
    top: 7px;
    left: 40px;
    z-index: 1000;
}

.logo-zoo img {
    width: 170px;
}

.PDP {
    position: fixed;
    top: 1px;
    right: 40px;
    z-index: 1000;
}

.PDP img {
    width: 160px;
    height: auto;
}

.entete-fixe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(228, 227, 209);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
}

.Animaux, .Visite, .Soigneur {
    display: inline-block;
    position: fixed;
    top: 50px;
    background-color: #6dbc57;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 70px;
}

.Animaux {
    left: 450px;
    background-color: #f06c6c;
}

.Visite {
    left: 860px;
}

.Soigneur {
    left: 1270px;
}

