.image-fond {
    position: fixed;
    top: 170px;
    left: 0px;
    width: 1900px;      
    height: auto;
    z-index: -10;
}

.logo-zoo {
    position: absolute;
    top: 7px;
    left: 40px;
    z-index: 1000; 
}

.logo-zoo img {
    width: 170px;  
}

.PDP {
    position: absolute;
    top: 1px;
    left: 1680px;
    z-index: 1000; 
}

.PDP img {
    width: 160px;  
    height: auto;
}


.entete-fixe {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;       
    height: 150px;      
    background-color: rgb(228, 227, 209);  
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;     
}

.recherche {
    display: inline-block;
    position: fixed;   
    top: 350x;
    left: 450px;
    background-color: #f06c6c;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 70px;
    color: black; 
    text-decoration: none;
}

.Visite {
    display: inline-block;
    position: fixed;   
    top: 350x;
    left: 860px;
    background-color: #6dbc57;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 85px;
    color: black; 
    text-decoration: none;
}

.Soigneur {
    display: inline-block;
    position: fixed;   
    top: 350x;
    left: 1270px;
    background-color: #6dbc57;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 85px;
    color: black; 
    text-decoration: none;
}