.image-fond {
    position: fixed;
    top: 170px;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100% - 170px);
    object-fit: cover;
    object-position: center;
    z-index: -1;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.logo-zoo {
    position: fixed;
    top: -40px;
    left: 40px;
    width: 200px;
    height: 250px;
}

.profile{
    position: fixed;
    top: 40px;
    right: 40px;
    width: 200px;
    height: 100px;
    border-radius: 30%;
}

.entete-fixe {
    width: 100%;
    height: 150px;
    background-color: #e4e3d1;
    align-items: center;
    padding: 10px 20px;
}



.Animaux button, .Visite button, .Soigneur button{
    display: inline-block;
    position: fixed;
    top: 50px;
    background-color: #3f8f61;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
}

.Animaux button{
    right: 1200px;
}

.Visite button{
    right: 900px;
}

.Soigneur button{
    right: 600px;
}

.message-bienvenue{
    position: fixed;
    right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.info {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: #2a6041;
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    width: 500px;
    font-size: 30px;
}

.info .animal_count { 
    color:rgb(205, 255, 190);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info .accident  {
    color: rgb(255, 50, 50);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info .accident_com  {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.animal-container {
    max-height: 1000px;      
    overflow-y: auto;        
    padding: 10px;
    border: 1px solid #e4e3d1;
    border-radius: 8px;
}


.animal-card {
    display: flex;
    gap: 15px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 8px;
    background-color: #0d9700;
}


.animal-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
}


.animal-info h3 {
    margin: 0 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: #b1ffd4;
}

.animal-info p {
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}


.animal-actions a {
    margin-right: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.animal-actions a:hover {
    text-decoration:color-mix(in hsl shorter hue, color percentage, color percentage);
}

.edit{
    color: #b1ffd4;
}

.delete{
    color: #ff4d4d;
}

.info-edit-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.dropdown-container {
    width: 200px;
    max-height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.info-soigneur {
    position: fixed;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: #2a6041;
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    width: 500px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.info-soigneur img{
    position: sticky;
    width: 200px;
    height: 200px;
}