<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Zmanager | Visites</title>
    <link rel="stylesheet" href="/static/style_base.css">
</head>

<header class="entete-fixe">


<img src="/media/users/{{ user.first_name }}.png" alt="Photo de profil" class="profile">
<a href="/dashboard"><img src="/media/logo.png" alt="Logo de votre zoo" class="logo-zoo"></a>
    

    <div class="message-bienvenue">
        Bonjour {{ user.first_name }} ! |
        <a href="{% url 'logout' %}">Déconnexion</a> |
    </div>

    <div class="Animaux">
        <button onclick='location.href="/animaux"'>Animaux</button>
    </div>

    <div class="Visite">
        <button onclick='location.href="/visites"'>Visites</button>
    </div>

    <div class="Soigneur">
        <button onclick='location.href="/soigneurs"'>Soigneurs</button>
    </div>

</header>

<body background="/media/tortue.jpg">

    <h1 style="margin-top: 150px; text-align:center;">Liste des visites</h1>
    <div style="text-align:center;">
        <button onclick='location.href="/visites/add/"'>Ajouter une visite</button>
    </div>
        <br>
    <table border="1" class="table-visites" style="margin:auto; background:white; padding:10px;">
        <tr>
            <th>Animal</th>
            <th>Date visite</th>
            <th>Dernier vaccin</th>
            <th>Pathologie</th>
            <th>Description</th>
        </tr>

        {% for v in visites %}
        <tr>
            <td>{{ v.Animal.id }} - {{ v.Animal.NomAnimal }}</td>
            <td>{{ v.DateDerniereVisite }}</td> 
            <td>{{ v.DateDernierVaccin }}</td>
            <td>{{ v.Pathologie }}</td>
            <td>{{ v.DescriptionVisite }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
